

# Compiled source #
###################
*.out
*.class
*.DS_Store
*.hi
*.o
*.com
*.class
*.dll
*.exe
*.so
*.classpath
*.py~
*.pyc
*.ipynb_checkpoints

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.csv

